* {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
}

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  max-width: 943px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.menu-item {
  display: inline;
  flex-basis: 95px;
  color: #828282;
  font-size: 18px;
  line-height: normal;
  padding: 33px 0px 0px;
}

.menu-item:hover {
  color: black;
}

.vector {
  max-width: 80%;
}

.info {
  list-style: none;
  text-transform: capitalize;
}

.name {
  margin-top: 39.39px;
  font-size: 47.339px;
  flex-basis: 123.513px;
}

.role {
  margin-top: 100px;
  font-size: 18px;
}

.lang {
  transform: rotate(-90deg);
  font-size: 16px;
  max-width: 85px;
  padding-top: 100px;
}

.ru {
  color: #828282;
}

.photo {
  margin-top: 50px;
  max-width: 943px;
  max-height: 387px;
}

.about {
  display: flex;
  text-align: center;
  margin-top: 104.06px;
  background: #f6f6f6;
}

.h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 34px;
}

.about-text {
  margin-top: 30px;
  margin-bottom: 80px;
  max-width: 485.344px;
  max-height: 218px;
  font-size: 18px;
}

.skills {
  margin: 0 auto;
  max-width: 943px;
}

.skills-text {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 83px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-name {
  font-size: 14px;
  margin-top: 23px;
  margin-bottom: 40px;
}

.portfolio {
  background: #f6f6f6;
}

.screen {
  margin-top: 47px;
  margin-bottom: 44.88px;
}

.portfolio-link {
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 80px;
}

.portfolio-link:hover {
  text-decoration-line: underline;
}

.contacts-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 39.6px;
}

.button {
  background-color: black;
  color: white;
  min-width: 180.5px;
  min-height: 42px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  align-items: center;
  margin-bottom: 92px;
}

.contacts-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45.76px;
}

.contacts-icon {
  max-width: 40px;
  max-height: 40px;
}

.contacts-text-like {
  color: #828282;
  text-align: center;
  font-size: 14px;
  margin-bottom: 80px;
}
