* {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 943px;
}

.wraper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.container {
  max-width: 943px;
  margin: 0 auto;
}

.menu-burger {
  display: none;
  position: relative;
  margin: 50px 50px 0;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  z-index: 2;
  left: calc(100% - 140px);
  cursor: pointer;
}

.menu-burger span {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: black;
  left: 5px;
  transition: transform 0.3s, opacity 0.3s, background-color 0.5s;
  will-change: transform;
}

.menu-burger span:nth-child(1) {
  transform: translateY(-12px);
}

.menu-burger span:nth-child(3) {
  transform: translateY(12px);
}

.header.open .menu-burger span {
  background-color: #828282;
}

.header.open .menu-burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .menu-burger span:nth-child(2) {
  opacity: 0;
}

.header.open .menu-burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.menu-item {
  display: inline;
  text-decoration: none;
  flex-basis: 95px;
  color: #828282;
  line-height: normal;
  padding: 33px 0 0;
}

.menu-item:hover {
  color: black;
}

.menu-link {
  font-size: 18px;
}

.vector,
.photo {
  width: 100%;
}

.info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-basis: 95px;
  list-style: none;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.name {
  margin-top: 40px;
  font-size: 47px;
  flex-basis: 124px;
}

.role {
  margin-top: 100px;
  font-size: 18px;
}

.lang {
  transform: rotate(-90deg);
  font-size: 16px;
  max-width: 85px;
  padding-top: 100px;
}

.ru {
  color: #828282;
}

.about {
  display: flex;
  text-align: center;
  margin-top: 104.06px;
  background: #f6f6f6;
}

.h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 34px;
}

.about-text {
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 500px;
  max-height: 218px;
  font-size: 18px;
}

.skills-text {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 83px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-name {
  font-size: 14px;
  margin-top: 23px;
  margin-bottom: 40px;
}

.portfolio {
  display: flex;
  text-align: center;
  padding-top: 1px;
  background: #f6f6f6;
}

.screen {
  margin-top: 50px;
  margin-bottom: 45px;
  width: 100%;
}

.links {
  margin-bottom: 60px;
}
.portfolio-link {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.portfolio-link:hover {
  text-decoration-line: underline;
}

.contacts {
  display: flex;
  justify-content: center;
}

.contacts-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 39.6px;
}

.button,
.button-submit {
  background-color: #000;
  color: #fff;
  min-width: 180.5px;
  min-height: 42px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  margin-bottom: 92px;
  cursor: pointer;
}

.contacts-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.contacts-icon {
  max-width: 40px;
  max-height: 40px;
}

.contacts-text-like {
  color: #828282;
  text-align: center;
  font-size: 14px;
  margin-bottom: 80px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal-box {
  max-width: 500px;
  padding: 25px;
  z-index: 1;
  margin: 30px 15px;
  background-color: white;
  box-shadow: 0px, 0px, 17px, -7px rgba(34, 60, 80, 0.2);
  transform: scale(0);
  transition: transform 0.8s;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal-box {
  transform: scale(1);
}

.button-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.button-close-modal svg path {
  transition: fill 0.4s;
}

.button-close-modal:hover svg path {
  fill: #828282;
}

.message {
  display: flex;
  align-items: center;
  text-align: left;
}

.form-input {
  margin: 0px;
  position: relative;
  z-index: 10;
}

.form-input input,
textarea {
  border: 0;
  border-bottom: 1.5px solid #000;
  outline: none;
  font-size: 12px;
  font-weight: 100;
  min-width: 220px;
  min-height: 30px;
  padding-top: 15px;
}

#email-label {
  display: block;
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  font-weight: 100;
  color: #777;
  transition: bottom 0.3s;
}

#email-error {
  display: block;
  top: 100%;
  font-size: 10px;
  font-weight: 100;
  color: red;
}

.button-submit {
  margin-bottom: 0;
  margin-top: 20px;
  min-width: 100px;
  min-height: 35px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .icons {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px 0 15px;
  }
  .header.open .menu {
    transform: translateX(-100%);
  }
  .menu-burger {
    display: block;
  }
  .menu {
    position: absolute;
    flex-direction: column;
    right: -350px;
    top: 0;
    width: 350px;
    background-color: #fff;
    padding: 50px 20px 20px 20px;
    transition: transform 0.5s;
    will-change: transform;
  }
  .menu-item {
    color: #828282;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }
  .menu-link {
    font-size: 34px;
  }
  .vector,
  .lang {
    display: none;
  }
  .info {
    flex-direction: column;
  }
  .photo,
  .info {
    padding: 0 50px;
  }
  .name {
    font-size: 70px;
    width: 50%;
    margin-top: 0;
  }
  .role {
    font-size: 26px;
    margin: 20px;
  }
  .h2 {
    margin-top: 80px;
    font-size: 55px;
  }
  .about-text {
    font-size: 30px;
    max-height: 500px;
    max-width: 700px;
  }
  .skills-text {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .icons {
    flex-flow: column wrap;
    gap: 15px;
  }
  .icon-name {
    font-size: 24px;
    margin: 0 0 15px;
  }
  .contacts-text {
    font-size: 30px;
  }
  .button {
    min-width: 400px;
    min-height: 60px;
    font-size: 26px;
  }
  .contacts-text-like {
    font-size: 24px;
  }
  .contacts-icon {
    max-width: 100px;
    max-height: 100px;
  }
  .portfolio-link {
    font-size: 24px;
  }
}
